<div class="home-page">

    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">

            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a id='yourFe' class="nav-link" ng-click='yourFeed()' ng-class='{active: feed, disable: !feed}'
                                ng-show='show' href="#">Your
                                Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-class='{active: isGlobal}' ng-click='globalFeed()' href="#">Global
                                Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id='tag' ng-class='{active: myTag}' ng-show='myTag' href="#" ng-click='clickTag(tagSelect)'>{{tagSelect}}</a>
                        </li>
                    </ul>
                </div>
                <br>
                <p ng-show="notMyArticle">No articles are here... yet.</p>

                <div class="article-preview" ng-repeat='art in articals'>
                    <div class="article-meta">
                        <a ui-sref="profileUser({username: art.author.username})"><img src="{{art.author.image}}" /></a>
                        <div class="info">
                            <a ui-sref="profileUser({username: art.author.username})" class="author">{{art.author.username}}</a>
                            <span class="date">{{art.createdAt | date: "MMMM dd, yyyy"}}</span>
                        </div>
                        <button class="btn btn-sm pull-xs-right" ng-click='submit(art, this)' ng-class='{btnAc: art.favorited, "btn-outline-primary": !art.favorited}'>
                            <i class="ion-heart" ng-class='{btnAc: art.favorited}'></i>{{art.favoritesCount}}
                        </button>
                    </div>
                    <a ui-sref='article({slug: art.slug})' class="preview-link">
                        <div>
                            <h1>{{art.title}}</h1>
                            <p>{{art.description}}</p>
                            <span>Read more...</span>
                        </div>

                        <ul class="tag-list">
                            <li class="tag-pill tag-default" ng-repeat='tag in art.tagList'>{{tag}}</li>
                        </ul>
                    </a>

                </div>
                <!-- Pagination -->
                <ul ng-show='paginationShow'>
                    <li class="pagination-page" ng-repeat='page in pages'>
                        <a ng-class="{'btnAc': page.active}" ng-click='changePage(page.num)'>{{page.num}}</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>

                    <div class="tag-list">
                        <a href="" class="tag-pill tag-default" ng-repeat='tag in tags' ng-click='clickTag(tag)'>{{tag}}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>