<div class="profile-page">
    <!-- Profile user -->
    <div class="user-info">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img ng-src="{{ profile.image }}" class="user-img" />
                    <h4>{{ profile.username }}</h4>
                    <p>{{profile.bio}}</p>
                    <button class="btn btn-sm btn-outline-secondary action-btn" ng-click='follow(profile,this)'
                        ng-model="showFollow" ng-show='!show' ng-class="{btnFoll: show, 'btn-outline-secondary': !show}">
                        <i class="ion-plus-round"></i>
                        &nbsp;
                        {{showFollow}} {{ profile.username }}
                    </button>
                    <button class="btn btn-sm btn-outline-secondary pull-xs-right" ng-click='follow(profile,this)'
                        ng-show='show' ng-class="{btnFoll: show, 'btn-outline-secondary': !show}">
                        <i class="ion-plus-round"></i>
                        &nbsp;
                        UnFollow <span class="counter">{{profile.username}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Article of user -->
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="profileUser({articles: articles.author.username})" ng-class="{active: isFeed}"
                                ng-click="load('My')">My
                                Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="profileUser.myAticle({articles: articles.author.username})"
                                ng-class="{active: !isFeed}" ng-click="load('Favorited')">Favorited
                                Articles</a>
                        </li>
                    </ul>
                </div>
                <br>
                <ui-view>
                    <p ng-show="notMyArticle">No articles are here... yet.</p>
                    <div class="article-preview" ng-repeat="article in articles">
                        <div class="article-meta">
                            <a ui-sref="profileUser({username: article.author.username})"><img ng-src="{{ article.author.image }}" /></a>
                            <div class="info">
                                <a ui-sref="profileUser({username: article.author.username})" class="author">{{article.author.username}}</a>
                                <span class="date">{{article.createdAt | date: "MMMM dd, yyyy"}}</span>
                            </div>
                            <button class="btn btn-sm pull-xs-right" ng-click='submit(article, this)' ng-class='{btnAc: article.favorited, "btn-outline-primary": !article.favorited}'>
                                <i class="ion-heart"></i> {{article.favoritesCount}}
                            </button><br>
                        </div>
                        <a ui-sref='article({slug: article.slug})' class="preview-link">
                            <h1>{{article.title}}</h1>
                            <p>{{article.description}}</p>
                            <span>Read more...</span>
                        </a>
                        <ul class="tag-list pull-xs-right">
                            <li class="tag-pill tag-default " ng-repeat='tag in article.tagList'>{{tag}}</li>
                        </ul>
                    </div>
                    <!-- Pagination -->
                    <ul ng-show='paginationShow'>
                        <li class="pagination-page" ng-repeat='page in pages'>
                            <a ng-class="{'btnAc': page.active}" ng-click='changePage(page.num)'>{{page.num}}</a>
                        </li>
                    </ul>
                </ui-view>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->